:root {
    --main-text-color: rgb(0, 13, 26);
    --nav-bg-color: rgb(0 132 255 / 56%);
    --sidebar-bg-color: rgb(235, 233, 233);
    --priority-one-color: #CC6600;
    --project-form-color: #FFA64D;
    --priority-three-color: #00B8CC;
    --task-color: #00cc8f6b;
    --priority-five-color: rgb(0,13,26);
    font-size: 18px;
    font-family: 'Roboto serif', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 250px 6fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: "nav nav"
                         "sidebar main"
                         
}

h1 {
    margin: 0;
}

nav {
    background: var(--nav-bg-color);
    color: var(--nav-text-color);
    box-shadow: 1px 1px 3px grey;

    grid-area: nav;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 8px 16px;
    /* position: fixed;
    width: 100%; */

    font-size: 1.5rem;
}

nav > *,
.home-button,
.inbox-button,
#add-project-button {
    cursor: pointer;
}

img {
    height: 40px;
    width: auto;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.add-task-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.add-task-button > img {
    height: 30px;
}

sidebar {
    padding: 16px;
    background: var(--sidebar-bg-color);
    /* position: fixed;
    margin-top: 64px;
    height: 90%;  */
}

sidebar div {
    display: flex;
    align-items: center;
    gap: 24px;
}

sidebar > div > div > h4 {
    cursor: default;
}

.projects {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0px;
}

.projects > div {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-container {
    display: flex;
    justify-content: start;
    word-break: break-word;
}

.projects img {
    height: 20px;
}

.delete-button {
    height: 25px;
    padding: 6px;
}

.delete-button:hover {
    background: var(--sidebar-bg-color);
    border-radius: 12px;
    cursor: pointer; 
}

main {
   
    padding: 16px;
    /* position: relative;
    left: 200px;
     margin-top: 63px;
    width: 80vw; */
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 16px; 
    margin: 12px;
    background: var(--sidebar-bg-color)
}

.task-form {
    background: var(--nav-bg-color);
}

.project-form {
    background: var(--project-form-color)
}

legend {
    font-weight: bold;
    font-size: 1.5rem;
}

form > div {
    flex-direction: column;
    display: flex;
}

.legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form img {
    height: 30px;
}

.task {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 8px;
    border-radius: 12px;
    background: var(--task-color);
}

.task > div {
    display: flex;
    justify-content: space-between;
}

.task > div > div {
    display: flex;
    align-items: center;
    gap: 12px;
}


form > button {
    width: 150px;
    padding: 0.5em 1em;
    background: white;
    border-radius: 6px;
    border-style: solid;
}

select {
    background: white;
}

input, select, textarea {
    border-radius: 6px;
    border: 2px solid black;
    padding: 0.25em;
}

input[type="checkbox"] {
    appearance: none;
    height: 20px;
    width: 20px;
}

.task-button > img,
.legend > img {
    /*visibility: hidden;*/
    height: 25px;
}


/*
.task-button:hover > img,
.legend:hover > img {
    visibility: visible;
    cursor: pointer;
}
*/

.popup {
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid black;
    background: var(--sidebar-bg-color);
    height: 300;
    aspect-ratio: 1 / 1;
}



